@font-face {
  font-family: "Vollkorn";
  src: url("https://fonts.googleapis.com/css?family=Vollkorn&display=swap"); }
body::-webkit-scrollbar {
  width: 9px; }

body::-webkit-scrollbar-track {
  background-color: #39A2C1;
  box-shadow: inset 0 0 7px black; }

body::-webkit-scrollbar-thumb {
  background-color: #39A2C1;
  outline: 1px solid slategrey; }

body {
  font-family: Vollkorn; }

header {
  margin-top: -40px;
  font-family: Vollkorn;
  background-image: url("../images/header2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 110vh; }
  header .header_div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10vh; }
    header .header_div .header_text {
      color: #6a7580;
      font-size: 38pt; }
      header .header_div .header_text .header_nom {
        color: #39A2C1; }
    header .header_div button {
      font-size: 20pt;
      width: 130px;
      padding: 5px 0px;
      border: none;
      border-radius: 20px;
      background-color: #39A2C1;
      margin-top: 20vh; }

.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%); }

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal; }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 24em; } }
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }
#nav {
  z-index: 16;
  position: sticky;
  top: 0;
  border-bottom: 3px solid #39A2C1; }
  #nav .navbar {
    background-color: #151A1D;
    font-family: Vollkorn; }
    #nav .navbar .nav-link, #nav .navbar .navbar-brand {
      color: #39A2C1;
      position: relative;
      max-width: max-content; }
      #nav .navbar .nav-link::before, #nav .navbar .navbar-brand::before {
        content: "";
        background-color: #39A2C1;
        height: 3px;
        position: absolute;
        bottom: 7px;
        left: 50%;
        width: 0;
        transition: 1s ease; }
      #nav .navbar .nav-link::after, #nav .navbar .navbar-brand::after {
        content: "";
        background-color: #39A2C1;
        height: 3px;
        position: absolute;
        bottom: 7px;
        right: 50%;
        width: 0;
        transition: 1s ease; }
      #nav .navbar .nav-link:hover, #nav .navbar .navbar-brand:hover {
        color: #42cbf4; }
        #nav .navbar .nav-link:hover::before, #nav .navbar .navbar-brand:hover::before {
          width: 50%; }
        #nav .navbar .nav-link:hover::after, #nav .navbar .navbar-brand:hover::after {
          width: 50%; }

.titre_div {
  text-align: center;
  padding: 50px;
  height: 150px; }
  .titre_div .titre_h1 {
    color: #151A1D; }
  .titre_div .hr_titre {
    width: 10vh;
    border-top: 3px solid #151A1D; }

.carteAbout2 {
  visibility: hidden;
  justify-content: center; }

.carteAbout {
  justify-content: center; }

.hexagon {
  background-color: #39A2C1;
  display: inline-block;
  height: 100%;
  width: calc(100% * 0.57735); }

.hexagon:before {
  background-color: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(60deg);
  width: inherit; }

.hexagon i {
  color: white;
  font-size: 34pt;
  left: 0;
  position: absolute;
  right: 0;
  top: 22px;
  z-index: 1; }

.hexagon:after {
  background-color: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(-60deg);
  width: inherit; }

.hex-wrap {
  display: inline-block;
  left: 35%;
  height: 90px;
  position: relative;
  text-align: center;
  width: 80px; }

.colorAbout {
  color: #616161; }

.hexagon2 {
  left: 27%;
  position: relative;
  width: 250px;
  height: 144.34px;
  margin: 72.17px 0;
  background-image: url(https://www.stepstone.be/wp-content/uploads/CV-Portret-Foto.jpg);
  background-size: auto 288.6751px;
  background-position: center;
  box-shadow: 0 0 20px rgba(57, 162, 193, 0.5); }

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 176.78px;
  height: 176.78px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 36.61px;
  box-shadow: 0 0 20px rgba(57, 162, 193, 0.5); }

/*counter transform the bg image on the caps */
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 250px;
  height: 144.33757px;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-72.1688px);
  -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-72.1688px);
  transform: rotate(45deg) scaleY(1.7321) translateY(-72.1688px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit; }

.hexTop {
  top: -88.3883px; }

.hexTop:after {
  background-position: center top; }

.hexBottom {
  bottom: -88.3883px; }

.hexBottom:after {
  background-position: center bottom; }

.hexagon2:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 144.3376px;
  z-index: 2;
  background: inherit; }

#aboutWho a {
  color: #39A2C1;
  text-decoration: none; }

.pAboutWho {
  position: absolute;
  left: 35px;
  text-align: center;
  font-size: 16px;
  width: 490px;
  margin: 0; }

.bars-wrap {
  width: calc(100% - 15px); }

.bar {
  align-items: flex-end;
  background-color: #eee;
  color: grey;
  font-size: 12pt;
  height: 37px;
  margin: 0 0 30px 0;
  position: relative; }

.bar.fill {
  left: 0;
  position: absolute;
  top: 0;
  background-color: #39A2C1;
  opacity: 1;
  padding: 0; }

.bar .tag {
  text-align: center;
  left: 0;
  position: absolute;
  top: 0;
  background-color: #04c2c9;
  color: #fff;
  height: 100%;
  width: 100px; }
  .bar .tag span {
    position: absolute;
    left: 0;
    top: 7px; }

.bar span {
  position: absolute;
  top: 7px;
  right: 7px;
  font-weight: bold; }

.bg_projets {
  background-color: #DDDDDD; }

#projets li {
  list-style: none; }
  #projets li button {
    font-weight: bold;
    border: none;
    padding: 15px 60px;
    background-color: #DDDDDD;
    color: grey; }

.projet1 {
  width: 100%;
  height: 300px;
  background-image: url("./images/site-bootstrap.png"); }

.projet2 {
  width: 100%;
  height: 150px;
  background-image: url("../images/les-chefs.png"); }

.projet3 {
  width: 100%;
  height: 150px;
  background-image: url("../images/youCommunik.png"); }

.projet4 {
  width: 100%;
  height: 150px;
  background-image: url("../images/flati-sass.png"); }

.projet5 {
  width: 100%;
  height: 150px;
  background-image: url("../images/faith.png"); }

.projet6 {
  width: 100%;
  height: 150px;
  background-image: url("../images/"); }

.bg_Services {
  background-color: #39A2C1; }

#services {
  height: 800px; }

.service_what {
  text-align: center;
  color: #DB6E82;
  font-size: 50px;
  font-weight: bold; }

.carte_service {
  margin: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #39A2C1; }
  .carte_service .icon_style {
    text-align: center;
    border-radius: 90px;
    width: 55px;
    padding: 10px;
    color: white;
    background-color: black; }
  .carte_service .carte_service_nom {
    text-align: center;
    width: 600px;
    color: white;
    font-weight: bold;
    font-size: 40px; }
  .carte_service .carte_service_petitText {
    text-align: center;
    width: 400px;
    font-weight: lighter; }
  .carte_service .carte_service_sous_titre {
    text-align: center;
    color: white; }
  .carte_service .carte_service_sous_titre_text {
    text-align: center; }
  .carte_service .carte_service_sous_titre2 {
    text-align: center;
    color: white; }
  .carte_service .carte_service_sous_titre_text2 {
    text-align: center; }
    .carte_service .carte_service_sous_titre_text2 ul {
      padding: 0; }
      .carte_service .carte_service_sous_titre_text2 ul li {
        list-style: none; }

.bg_contact {
  background-color: #252934; }
  .bg_contact .titre_h1 {
    color: white; }
  .bg_contact .hr_titre {
    border-top: 3px solid white; }

.contact_text {
  color: #39A2C1;
  text-align: center;
  font-size: 25px; }

#contact-form {
  text-align: center;
  line-height: 18pt;
  margin: 0 auto; }
  #contact-form input {
    background: #1e242c;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 12pt;
    margin-bottom: 3px;
    outline: none;
    padding: 10px 15px;
    width: 100%; }
  #contact-form textarea {
    margin-bottom: 5px;
    min-height: 150px;
    background: #1e242c;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 12pt;
    margin-bottom: 3px;
    outline: none;
    padding: 10px 15px;
    width: 100%; }
  #contact-form #submit {
    margin-top: 3px;
    width: 124px;
    color: white;
    border: 2px solid white;
    float: right; }

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #151A1D;
  color: grey; }
  #footer .footer_sous_div .icon-wrap {
    display: flex;
    justify-content: center;
    overflow: hidden; }
    #footer .footer_sous_div .icon-wrap a {
      margin: 10px;
      text-decoration: none; }
    #footer .footer_sous_div .icon-wrap div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      color: white;
      background-color: #252934; }
  #footer .footer_div {
    margin: 18px 0;
    font-weight: lighter;
    font-size: 12px; }
  #footer .copyright {
    color: #DB6E82; }

/*# sourceMappingURL=style.css.map */
